* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' ; 
   font-weight: 300;
   color: white;
   background: black;
}

.nav { 
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav__container{
    width: 100%;
}
.nav__ul { 
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.2rem;
    justify-content: space-around;
    align-items:center;
}
.nav__li { 
    list-style: none;
   
}
.nav__a{
    text-decoration: none;
   
}


.logo__container { 
    width: 10%;
    height: 2rem;
    margin-top: 0.8rem;
    margin-left: 0.5em;
    
    
}
.logo__img { 
    width: 100%;
    border-radius: 5rem;
}

.dogInformation__container { 
    display: flex;
    width: 100%;
    border: 1px solid rgb(179, 177, 177);
    align-items: center;
    height: 3rem;
    margin-top: 0.5rem;
}
.ImageProfile__container{
    width: 10%;
    margin-right: 2rem;
    margin-left: 0.5rem;
    padding: 0.2rem;
   
}
.ImageProfile__img { 
    width: 100%;
    border-radius: 5rem;
    float: right;
   
}

.mainImg__container{ 
    width: 100%;
    
    height: 15rem;
}

.mainImg__img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.likeBar_container {
    width: 100%;
    height: 2rem;
}
.likeBar_img{ 
    width: 100%;
    height: 100%;
    
  
}
.race__name { 
    font-size: 0.7rem;
}
.presentation__description{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 0.7rem;
    text-align: justify;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
}
.presentation__link {
    font-size: 0.7rem;
    text-align: left;
    padding: 0.5rem;
}
